{%extends "layout.html"%}

{%block content%}
    <div class="container">
        <h2>แบบฟอร์มติดต่อ ADMIN</h2>
        <form action="{{url_for('signupForm')}}" method="get">
            <div class="form-group">
                <label for=" ">ชื่อสกุล</label>
                <input type="text" name="fname" class="form-control">
            </div>

            <div class="form-group">
                <label for=" ">รายละเอียด</label>
                <textarea name="description" class="form-control" cols="30" rows="10"></textarea>
            </div>
            <br>
            <input type="submit" value="ส่งข้อมูล" class="btn btn-success">
        </form>
    </div>
{%endblock%}