{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}


{% block content %}

    <div class="container my-2" >
        {{wtf.quick_form(form)}}
        <hr>
        <h1>ชื่อของคุณ: {{name}}</h1>

        {% if session["name"] %}
            ชื่อของคุณ: <strong>{{session["name"]}}</strong><br>
            เพศ <strong>{{session["gender"]}}</strong><br>
            ตัวเลือก <strong>{{session["select"]}}</strong><br>
            ที่อยู่: <strong>{{session["address"]}}</strong><br>
            ยอมรับหรือไม่? <strong>{{session["isAccept"]}}</strong><br>
        {% else %}
            ไม่พบข้อมูล
        {% endif %}
    </div>

{% endblock %}